$primary-bg: #fff;
$secondary-bg: #f8f8f8;
$background: #e5e5e5;
$color: #303030;
$span_color: #969896;
$shadow: 0px 0px 4px rgba(44, 51, 51, 0.25);
$green: #2c3333;
$dark: #1b4748;
$hover: #830531;
$active: #b80d48;
$space: #323737;
$lite-ccc: #ccc;
$content-form: #ced4da;
$space-gray: #75a2ae8c;
$space-gray2: #769289;
$pop-color: #608981;
$header-form: #dee2e6;
$warning: #feb019;
